div#primary.content-area{
	width:98vw;
	margin: 0 auto;
}

h1.entry-title{
	display: none;
}

div.site-info{
	display:none;
}

section.wrapperHome{
    padding: 12em;
    background-color: skyblue;
    margin-top: 3em;
}