div.home-left-blue{
	h1{
		padding-top:17.55%;
		text-align:center;
		color:$darkgrey;
	}
	p{
		padding-top:3%;
		text-align:center;
		color:$darkgrey;
	}
	// background-color:cyan;
}

div h1.goodWork{
	color:$white;
	text-align:center;
	background:$dwaLeadColor;
	padding:1em 0;
	margin:0 auto;
}

div#homebtnimg.panel-widget-style.panel-widget-style-for-6-2-0-0{
	filter: grayscale(100%)!important;
    -webkit-filter: grayscale(100%);
}

h1.homePage1{
	color:$dwaLeadColor;
	margin-top:2em;
	font-weight:bolder;
	font-size:2.7em;
	text-align:center;
}

div.homePageBlurb1{
	// background-color:#f5f5f5;
	p{
		padding:30px;
		font-size:1.3em;
	}
	// text-align:center;
}

// what we do section

div.wwd_design{

	text-align: left;
    margin-top: -20px;
	padding:20px;

	//border-bottom: 8px $dwaLeadColor solid;

	h3{
		font-size:1.8em;
    	font-weight:bolder;
    	color:$dwaLeadColor;
    	text-align:center;
    }
    p{
    	font-size:1.2em;
    	padding:20px;
    	// background-colour:#ccc!important;
    }
}

div.wwd_develop{

    text-align: left;
    margin-top: -20px;
    padding:20px;

	//border-bottom: 8px $dwaLeadColor solid;

	h3{
		font-size:1.8em;
    	font-weight:bolder;
    	color:$dwaLeadColor;
    	text-align:center;
    }

    p{
    	font-size:1.2em;
    	padding:20px;
    	// background-colour:#ccc!important;
    }
}

div.wwd_deliver{

	text-align: left;
    margin-top: -20px;
	padding:20px;

	//border-bottom: 8px $dwaLeadColor solid;
    
    h3{
    	font-size:1.8em;
    	font-weight:bolder;
    	color:$dwaLeadColor;
    	text-align:center;
    }

    p{
    	font-size:1.2em;
    	padding:20px;
    	// background-colour:#ccc!important;
    }

}

h1.wwd_header{
	text-align:center!important;
	color:$dwaLeadColor!important;
}

ul.clearList{
	list-style-type:none;
	padding-top: 10%;
	padding:40px;
	*{
		color:$white;
		font-weight:500;
		padding:2em;
	}
}

li.underline{
	border-bottom: 5px $white solid;
	color:$white;
}

span.bold{
	font-weight:bolder;
	margin-left:-2em;
}

button.HomeCTA{
	background: none;
    border: 3px #fff solid;
    border-radius: initial;
    width: 150px;
    height: 47px;
    color: #fff;
    font-size: 1em;
}

button.HomeCTA:hover{
	background: $dwaLeadColor;
    border: 4	px #fff solid;
    border-radius: initial;
    width: 150px;
    height: 47px;
    color: #fff;
    font-size: 1em;
}

div#pg-6-0.panel-grid.panel-no-style{
    margin-bottom: -2em;
}