#view {
    width: 600px;
    height: 600px;
    position: absolute;
/*     top: calc(50% - 300px); */
/*     left: calc(50% - 300px); */
/*   border: 1px solid black; */
}

#wholeCube {
    transform-style: preserve-3d;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(275px) translateY(275px) rotateX(-35deg) rotateY(45deg);
    transform: translateX(275px) translateY(275px) rotateX(-35deg) rotateY(45deg);
}

.cube {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cubeSide  {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-backface-visibility: hidden;
}

.csTop {
    // background-color: lightblue;
    background-color:#2ea1d9;
    // background-color: #fbae17;
    // background-color:#9f7fbf;
    // background-color:#9cf;
/*     border: 1px solid #ff7700; */
    opacity:0.9;
    -webkit-transform: rotateX(90deg) translateZ(25px); /* Safari */
    transform: rotateX(90deg) translateZ(25px);
}

.csLeft {
    background-color: #395ea6;
  // background-color: #ff9000;
  // background-color:#794ca6;
  // background-color:#66b2ff;
/*     border: 1px solid #ff7700; */
    opacity:0.9;  
    -webkit-transform: rotateY(-90deg) translateZ(25px); /* Safari */
    transform: rotateY(-90deg) translateZ(25px);
}

.csRight {
    background-color:#3e467f;
    // background-color: #ff6f00;
    // background-color:#400080;
    // background-color:#0080ff;
/*     border: 1px solid #ff7700; */
    opacity:0.9;
    -webkit-transform: rotateY(0deg) translateZ(25px); /* Safari */
    transform: rotateY(0deg) translateZ(25px);
}

.face {
    transform-style: preserve-3d;
}



.frontFaceZ {
    -webkit-transform:translateZ(0); /* Safari */
    transform:translateZ(0);
    -webkit-animation: frontFaceZ 3.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s infinite;
}
.middleFaceZ {
    -webkit-transform:translateZ(-50px); /* Safari */
    transform:translateZ(-50px);
}
.backFaceZ {
    -webkit-transform:translateZ(-100px); /* Safari */
    transform:translateZ(-100px);
    -webkit-animation: backFaceZ 3.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s infinite;
}

@-webkit-keyframes frontFaceZ {
    0%   {-webkit-transform:translateZ(0px); transform:translateZ(0px);}
    16%  {-webkit-transform:translateZ(50px); transform:translateZ(50px);}
    33%  {-webkit-transform:translateZ(50px); transform:translateZ(50px);}
    50%  {-webkit-transform:translateZ(50px); transform:translateZ(50px);}
    66%  {-webkit-transform:translateZ(0px); transform:translateZ(0px);}
    83%  {-webkit-transform:translateZ(0px); transform:translateZ(0px);}
    100% {-webkit-transform:translateZ(0px); transform:translateZ(0px);}
}

@-webkit-keyframes backFaceZ {
    0%   {-webkit-transform:translateZ(-100px); transform:translateZ(-100px);}
    16%  {-webkit-transform:translateZ(-150px); transform:translateZ(-150px);}
    33%  {-webkit-transform:translateZ(-150px); transform:translateZ(-150px);}
    50%  {-webkit-transform:translateZ(-150px); transform:translateZ(-150px);}
    66%  {-webkit-transform:translateZ(-100px); transform:translateZ(-100px);}
    83%  {-webkit-transform:translateZ(-100px); transform:translateZ(-100px);}
    100% {-webkit-transform:translateZ(-100px); transform:translateZ(-100px);}
}

.topFaceY {
    -webkit-transform:translateY(0); /* Safari */
    transform:translateY(0);
    -webkit-animation: topFaceY 3.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s infinite;
}
.middleFaceY {
    -webkit-transform:translateY(50px); /* Safari */
    transform:translateY(50px);
}
.bottomFaceY {
    -webkit-transform:translateY(100px); /* Safari */
    transform:translateY(100px);
    -webkit-animation: bottomFaceY 3.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s infinite;
}

@-webkit-keyframes topFaceY {
    0%   {-webkit-transform:translateY(0px); transform:translateY(0px);}
    16%  {-webkit-transform:translateY(0px); transform:translateY(0px);}
    33%  {-webkit-transform:translateY(0px); transform:translateY(0px);}
    50%  {-webkit-transform:translateY(-50px); transform:translateY(-50px);}
    66%  {-webkit-transform:translateY(-50px); transform:translateY(-50px);}
    83%  {-webkit-transform:translateY(-50px); transform:translateY(-50px);}
    100% {-webkit-transform:translateY(0px); transform:translateY(0px);}
}

@-webkit-keyframes bottomFaceY {
    0%   {-webkit-transform:translateY(100px); transform:translateY(100px);}
    16%  {-webkit-transform:translateY(100px); transform:translateY(100px);}
    33%  {-webkit-transform:translateY(100px); transform:translateY(100px);}
    50%  {-webkit-transform:translateY(150px); transform:translateY(150px);}
    66%  {-webkit-transform:translateY(150px); transform:translateY(150px);}
    83%  {-webkit-transform:translateY(150px); transform:translateY(150px);}
    100% {-webkit-transform:translateY(100px); transform:translateY(100px);}
}

.topFaceX {
    -webkit-transform:translateX(0); /* Safari */
    transform:translateX(0);
    -webkit-animation: topFaceX 3.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s infinite;
}
.middleFaceX {
    -webkit-transform:translateX(50px); /* Safari */
    transform:translateX(50px);
}
.bottomFaceX {
    -webkit-transform:translateX(100px); /* Safari */
    transform:translateX(100px);
    -webkit-animation: bottomFaceX 3.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s infinite;
}

@-webkit-keyframes topFaceX {
    0%   {-webkit-transform:translateX(0px); transform:translateX(0px);}
    16%  {-webkit-transform:translateX(0px); transform:translateX(0px);}
    33%  {-webkit-transform:translateX(-50px); transform:translateX(-50px);}
    50%  {-webkit-transform:translateX(-50px); transform:translateX(-50px);}
    66%  {-webkit-transform:translateX(-50px); transform:translateX(-50px);}
    83%  {-webkit-transform:translateX(0px); transform:translateX(0px);}
    100% {-webkit-transform:translateX(0px); transform:translateX(0px);}
}

@-webkit-keyframes bottomFaceX {
    0%   {-webkit-transform:translateX(100px); transform:translateX(100px);}
    16%  {-webkit-transform:translateX(100px); transform:translateX(100px);}
    33%  {-webkit-transform:translateX(150px); transform:translateX(150px);}
    50%  {-webkit-transform:translateX(150px); transform:translateX(150px);}
    66%  {-webkit-transform:translateX(150px); transform:translateX(150px);}
    83%  {-webkit-transform:translateX(100px); transform:translateX(100px);}
    100% {-webkit-transform:translateX(100px); transform:translateX(100px);}
}

div#view{
    margin-top:-0.5em;
    z-index:-10;
}

@media (min-width:20px) and (max-width:780px) {
    div#view{
        display:none!important;
    }
}