$backgroundColor: #f0f;
$headerFont:#444;
$halfwidth:50vw;
$fullWidth:100vw;
$thirdwidth:32vw;
$twothirdwidth:66vw;
$none:none;
$white:#fff;
$black:#000;
$blackgrey:#111;
$darkgrey:#222;
$darkmidgrey:#333;
$midgrey:#444;
$midlightgrey:#555;
$lightgrey:#666;
$lightergrey:#777;
$lemonyellow:#ff7;
$blueypurple:#2a2b5f;
$purpleyblue:#393c83;
$purple:#800080;
$mistpurple:#9f7fbf;
$lightduskblue:#00abe9;
$midpurple:#794ca6;
$dwaLeadColor:#395ea6;
$regalpurple:#400080;
$cornblue:#66b2ff;
$dwaRed:#f54320;
$ash:#ccc;